{% extends 'base.html' %}
{% load static %}

{% block title %} Contact page {% endblock %}

{% block content %}

    <!-- Page info -->
    <div class="page-info-section set-bg" data-setbg="{% static 'img/page-bg/4.jpg' %}">
        <div class="container">
            <div class="site-breadcrumb">
                <a href="{% url 'ieltstest:index' %}">Home</a>
                <span>Contact</span>
            </div>
        </div>
    </div>
    <!-- Page info end -->

    <!-- Page -->
    <section class="contact-page spad pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-warp">
                        <div class="section-title text-white text-left">
                            <h2>Get in Touch</h2>
                        </div>

                        <!-- Display success message -->
                        {% if messages %}
                            <div class="alert alert-success">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <form class="contact-form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="site-btn" type="submit">Send Message</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-area">
                        <div class="section-title text-left p-0">
                            <h2>Contact Info</h2>
                        </div>
                        <div class="phone-number">
                            <span>Direct Line</span>
                            <h2>+98 4448 8644</h2>
                        </div>
                        <ul class="contact-list">
                            <li>JannatAbad, Tehran, IRAN</li>
                            <li>+98 912 123 4556</li>
                            <li>MissShahi89@gmail.com</li>
                        </ul>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br/> <br/> <br/>
    <!-- Page end -->

{% endblock %}