{% extends 'base.html' %}
{% load static %}

{% block title %} Home page {% endblock %}

{% block content %}
	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'img/bg.jpg' %}">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Get The Best Free Online Tests</h2>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
						<input type="text" placeholder="Name">
						<input type="text" class="last-s" placeholder="E-mail">
						<button class="site-btn">Sign Up Now</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Get to Know More About Test Categories</h2>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/1.png' %}" style="height: 385px;"></div>
						<div class="ci-text">
							<center>
							<a href="#" class="site-btn">Read about Reading</a>
							</center>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/2.png' %}" style="height: 385px;"></div>
						<div class="ci-text">
							<center>
							<a href="#" class="site-btn">Read about Listening</a>
							</center>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/3.png' %}" style="height: 385px;"></div>
						<div class="ci-text">
							<center>
							<a href="#" class="site-btn">Read about Writing</a>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- categories section end -->

		<!-- search section -->
	<section class="search-section">
		<div class="container">
			<div class="search-warp">
				<div class="section-title text-white">
					<h2>Get Into Your Dream University</h2>
				</div>
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<!-- search form -->
						<form class="course-search-form">
							<input type="text" placeholder="Search IELTS Score Here ..." style="width: 650px;">
							<button class="site-btn">Search</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- search section end -->

	<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				<h2>Join Our Community Now!</h2>
			</div>
			<div class="text-center pt-5">
				<a href="#" class="site-btn">Register Now</a>
			</div>
		</div>
	</section>
	<!-- banner section end -->

{% endblock %}