<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IELTS Listening Test</title>
</head>
<body>
    <h1>IELTS Listening Test</h1>
    <!-- Audio Player -->
    <h2>Audio</h2>
    <audio controls>
        <source src="{{ listening_test.laudio_file.url }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <form method="post">
        {% csrf_token %}
        <h2>Questions</h2>
        {% if questions %}
            {% for question in questions %}
                <div>
                    <p>{{ question.lquestion_text }}</p>
                    {% if question.lanswers.all %}
                        {% for answer in question.lanswers.all %}
                            <label>
                                <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                                {{ answer.lanswer_text }}
                            </label><br>
                        {% endfor %}
                    {% else %}
                        <p>No answers available for this question.</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No questions available for this listening test.</p>
        {% endif %}
        <br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>