<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IELTS Reading Test</title>
</head>
<body>
    <h1>IELTS Reading Test</h1>
    {% for text in reading_texts %}
        <h2>{{ text.title }}</h2>
        <img src="{{ text.image.url }}" alt="{{ text.title }}">  <!-- Corrected this line -->
        <form method="post">
            {% csrf_token %}
            {% for question in text.questions.all %}
                <p>{{ question.question_text }}</p>
                {% for answer in question.answers.all %}
                    <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                    {{ answer.answer_text }}<br>
                {% endfor %}
            {% endfor %}
            <br/>
            <button type="submit">Submit</button>
        </form>
    {% endfor %}
</body>
</html>